@import "tailwindcss";

:root {
  --color-background: #0f110e;
  --color-body: #fff9f5;
  --font-poppins: Poppins, sans-serif;
}

@theme {
  --color-primary: #af5900;
  --color-secondary: #ffefe0;
}

body {
  background: var(--color-background);
  color: var(--color-body);
  font-family: var(--font-poppins);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
